@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Labrada:wght@300&display=swap');


body,html{
    font-family: 'Labrada';
    margin: 0 auto;
    width: 100%;
     background-image: url(nube.jpg);
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size:cover;
     animation-name: fons;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    opacity: 1;
    color: black;
}


@keyframes fons {
    from {
        background-position: 0px;
    }
    to{
        background-position: 0px 0px 0px;
    }
}


#nom{
    font-size: 5em;
    font-weight: bold;
    color: white;
    position: absolute;
    animation-name: example;
    animation-duration: 3s;
    rotate: 45deg;
    width: 700px;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes example {
    from { 
        left: -950px;
        top: -900px;
    }
    to{
        left: 40px;
        top: 257px;
        opacity: 1;
    }
}

.triangle-down {
  width: 100%;
  height: 100%;
  border-left: 760px solid transparent;
  border-right: 760px solid transparent;
  border-top: 760px solid #445353;
}

.triangle-down2 {
  width: 20%;
  height: 20%;
  margin: 0 auto;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 200px solid #445353;
}

.triangulo {
  width: 20%;
  height: 20%;
  margin: 0 auto;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 200px solid #445353;
}
.triangulo1 {
  width: 100%;
  height: 100%;
  border-left: 760px solid transparent;
  border-right: 760px solid transparent;
  border-bottom: 760px solid #445353;
}

.hola{
  height: 1200px;
  padding-bottom: 0;
  margin-bottom: 0;
}

/*FOOTER*/

footer{
  background-color: #445353;
}


/*IMATGE CAIENT*/

.container {
    position: relative;
    overflow: hidden;
    height: 1100px; /* Altura suficiente para hacer scroll */
  }

  
  .logo img{
    position: relative;
    bottom: 0;
    left: 0px;
    right: 600px;
    border-radius: 44px;
    top: 740px;
    animation-name: fall;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  @keyframes fall {
    from {
      top: 800px;
      opacity: 1;
    }
    to {
      top:60px;
      opacity: 1;
    }
  }

  .foto{
    margin:auto;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    border: 5px solid black;
  }

  .intro p{
    font-weight: bolder;
    font-size:1.7em;
    text-align: center;
    font-family: 'Anaheim';
  }

  .intro{
    height:500px;
  }
  .introducc{
    text-align: justify;
    font-size: 7em;
    padding-left: 85px;
    font-family: 'Anaheim';
  }
  .si{
    float: left;
    position: relative;
  }

  /*ANIMACIÓ DE LA IMATGEE*/
  .no{
    float: right;
  }

  .habilitats{
    text-align: justify;
    float: right;
    font-size: 7em;
    padding-right: 75px;
    font-family: 'Anaheim';
  }
  .skills p{
    font-weight: bolder;
  }
  .skills{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-family: 'Anaheim';
  }

  .high{
    height: 400px;
  }

  .habi{
    background-color: blue;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.6em;
    font-family: 'Anaheim';

  }
  #hb1{
    background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
  }
  #hb2{
    background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 70%, lightgrey 100%);
    border: 3px solid black;
  }
  #hb3{
    background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 70%, lightgrey 100%);
    border: 3px solid black;
  }

  .estudis{
    text-align: center;
    font-size:7em;
    font-family: 'Anaheim';
  }

  .estul{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding-right: 15px;
    font-family: 'Anaheim';
  }

  #st1{
    background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
    margin:30px;
  
    
  }
  #st1 p{

    padding-right: 55px;
    padding-top: 35px;
    transform: rotate(-45deg);
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
  }


  #st2{
    background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
    margin:30px;
  
    
  }
  #st2 p{

    padding-right: 55px;
    padding-top: 35px;
    transform: rotate(-45deg);
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
  }
  

  /*MOVIMIENTO DE LA FLECHITA JEJEJEJEJ*/

  .flecha i{
    font-size: 17em;
    float: right;
    position: relative;
    margin-right:105px;
    animation-name: falling_arrow;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  @keyframes falling_arrow {

    from { 
        opacity:0;
        top: 0px; 
    }
    to{
        opacity: 1;
        top: 300px;
    }
  }

  /*ANIMACIÓN DE CARTA PARA VER CERTIFICADOS*/

  .introtext{
    line-height: 2.3em;
  }

  /*MENU*/
#menu{
  list-style-type: none;
   position: absolute;
    animation-name: example2;
    animation-duration: 3s;
    rotate: -45deg;
    animation-delay: 3s;
    width: 900px;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    margin-top: 300px;
    opacity: 0;
}
#menu li{
  display: inline-block;
  width:210px;
  font-size: 2em;
}
#menu a{
  color: white;
  text-decoration: none;
}

@keyframes example2 {
  from { 
      right: -1300px;
      top: -1300px;
  }
  to{
      right: 10px;
      top: -30px;
      opacity: 1;
  }
}


/*ANIMACIONES CORRESPONDIENTES A CERTIFICADOS*/
/*ANIMACION 2 CAIDA DE PIKACHU DEADPOLIANO*/

.anim2{
	position: relative;
  transition: 2s;
  background: #445353;
  color:white;
}

.anim2 .s2{
  padding-top:10px;
  font-weight: bolder;
}

.anim2:hover .s2{

	animation-name: bajarr;
	animation-duration:2s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
  background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
}

@keyframes bajarr {
	from{
		left: 100px;
	}
	to{
		left:300px;
		transform: rotateY(70deg);
		transition: all 1.5s;
	}
}
.anim2{
	position: relative;
}
/*anim2*/
.anim2 p{
	color: black;
	font-size: 1.5em;
	text-align: center;
  font-weight: bold;
	padding-top: 30px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Anaheim';
}

.anim2 h3{
  text-align: center;
  margin:auto;
}

.anim2{
	perspective: 600px;
  margin: auto;
  align-items: center;
  width: 250px;
	height: 255px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-family: 'Anaheim';
}

.anim2>div{
	width: 200px;
	height: 200px;
	position: absolute;
	background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
    font-family: 'Anaheim';
}
.anim2 img{
  width: 75%;
  height: 75%;
}
.anim2 p{
  width: 100%;
  height: 100%;
}

.xarxa{
  font-size: 1.4em;
  color: white;
}

.anim2>div.s0{
	background: transparent;
  background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
    font-family: 'Anaheim';
}

footer{
  text-align: center;
  width: 100%;
  height: 125px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}


/*MEDIA QUERYS NECESARIAS PARA CAMBIAR DE TAMAÑOS Y DEMÁS*/

@media only screen and (max-width: 680px) {
  p {
    font-size: 1em;
  }
  i{
    width: 10px;
    height: 10px;
  }


  .triangle-down {
    width: 100%;
    height: 100%;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 250px solid #445353;
  }

  #nom{
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    position: absolute;
    animation-name: example;
    animation-duration: 3s;
    rotate: 45deg;
    width: 700px;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    opacity: 0;
}
#menu{
  list-style-type: none;
   position: absolute;
    animation-name: example2;
    animation-duration: 3s;
    rotate: 0deg;
    animation-delay: 3s;
    width: 400px;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    margin-top: 300px;
    opacity: 0;
    text-align:center;
}

#menu li{
  display: inline-block;
  width:75px;
  font-size: 1em;
  
}
#menu a{
  color:black;
  text-decoration: none;
  font-weight: bold;
}
.introducc{
  text-align: justify;
  font-size: 2em;
  padding-left: 85px;
}
.foto{
  width: 200px;
  height: 200px;
}
.intro p{
  font-weight: bolder;
  font-size:1em;
  text-align: center;
}
.habilitats{
  text-align: justify;
  float: right;
  font-size: 2em;
  padding-right: 75px;
}
.skills p{
  font-weight: bolder;
}
.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.high{
  height: 400px;
}

.habi{
  background-color: blue;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  text-align: center;
  font-weight: bolder;
  font-size: 0.8em;

}


.estudis{
  text-align: center;
  font-size:2em;
}

  #st1{
    background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
    margin:30px;
  
    
  }
  #st1 p{

    padding-right: 55px;
    padding-top: 35px;
    transform: rotate(-45deg);
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
  }


  #st2{
    background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
    margin:30px;
  
    
  }
  #st2 p{

    padding-right: 55px;
    padding-top: 35px;
    margin-bottom: 30px;
    transform: rotate(-45deg);
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
  }





.anim2{
	perspective: 600px;
  margin: auto;
  align-items: center;
  width: 200px;
	height: 255px;
  justify-content: center;
  display: flex;
  text-align: center;
}

.anim2>div{
	width: 200px;
	height: 200px;
	position: absolute;
	background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
}
}


/*MEDIA QUERY PARA TAMAÑO TABLET*/

@media only screen and (max-width: 770px) {
  p {
    font-size: 1em;
  }
  i{
    width: 10px;
    height: 10px;
  }


  .triangle-down {
    width: 100%;
    height: 100%;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 250px solid #445353;
  }

  #nom{
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    position: absolute;
    animation-name: example;
    animation-duration: 3s;
    rotate: 45deg;
    width: 700px;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    opacity: 0;
}
#menu{
  list-style-type: none;
   position: absolute;
    animation-name: example2;
    animation-duration: 3s;
    rotate: 0deg;
    animation-delay: 3s;
    width: 400px;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    margin-top: 300px;
    opacity: 0;
    text-align:center;
}

#menu li{
  display: inline-block;
  width:75px;
  font-size: 1em;
  
}
#menu a{
  color:black;
  text-decoration: none;
  font-weight: bold;
}
.introducc{
  text-align: justify;
  font-size: 2em;
  padding-left: 85px;
}
.foto{
  width: 200px;
  height: 200px;
}
.intro p{
  font-weight: bolder;
  font-size:1em;
  text-align: center;
}
.habilitats{
  text-align: justify;
  float: right;
  font-size: 2em;
  padding-right: 75px;
}
.skills p{
  font-weight: bolder;
}
.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.high{
  height: 400px;
}

.habi{
  background-color: blue;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  text-align: center;
  font-weight: bolder;
  font-size: 0.8em;

}


.estudis{
  text-align: center;
  font-size:2em;
}

  #st1{
    background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
    margin:30px;
  
    
  }
  #st1 p{

    padding-right: 55px;
    padding-top: 35px;
    transform: rotate(-45deg);
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
  }


  #st2{
    background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
    margin:30px;
  
    
  }
  #st2 p{

    padding-right: 55px;
    padding-top: 35px;
    margin-bottom: 30px;
    transform: rotate(-45deg);
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
  }





.anim2{
	perspective: 600px;
  margin: auto;
  align-items: center;
  width: 200px;
	height: 255px;
  justify-content: center;
  display: flex;
  text-align: center;
}

.anim2>div{
	width: 200px;
	height: 200px;
	position: absolute;
	background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
}
}


/*MEDIA QUERY PARA TAMAÑO TABLET*/

@media only screen and (max-width: 1200px) {
  p {
    font-size: 1em;
  }
  i{
    width: 10px;
    height: 10px;
  }


  .triangle-down {
    width: 100%;
    height: 100%;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 250px solid #445353;
  }

  #nom{
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    position: absolute;
    animation-name: example;
    animation-duration: 3s;
    rotate: 45deg;
    width: 700px;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    opacity: 0;
}
#menu{
  list-style-type: none;
   position: absolute;
    animation-name: example2;
    animation-duration: 3s;
    rotate: 0deg;
    animation-delay: 3s;
    width: 535px;
    height: 200px;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    margin-top: 300px;
    opacity: 0;
    margin-bottom: 35px;
    text-align:center;
}

#menu li{
  width:87px;
  font-size: 1.2em;
  text-align: center;
  
}
#menu a{
  color:black;
  text-decoration: none;
  font-weight: bold;
}
.introducc{
  text-align: justify;
  font-size: 3em;
  padding-left: 85px;
}
.foto{
  width: 200px;
  height: 200px;
}
.intro p{
  font-weight: bolder;
  font-size:1em;
  text-align: center;
}
.habilitats{
  text-align: justify;
  float: right;
  font-size: 3em;
  padding-right: 75px;
}
.skills p{
  font-weight: bolder;
}
.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.high{
  height: 400px;
}

.habi{
  background-color: blue;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  text-align: center;
  font-weight: bolder;
  font-size: 0.8em;

}


.estudis{
  text-align: center;
  font-size:3em;
}

  #st1{
    background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
    margin:30px;
  
    
  }
  #st1 p{

    padding-right: 55px;
    padding-top: 35px;
    transform: rotate(-45deg);
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
  }


  #st2{
    background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
    margin:30px;
  
    
  }
  #st2 p{

    padding-right: 55px;
    padding-top: 35px;
    margin-bottom: 30px;
    transform: rotate(-45deg);
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
  }





.anim2{
	perspective: 600px;
  margin: auto;
  align-items: center;
  width: 200px;
	height: 255px;
  justify-content: center;
  display: flex;
  text-align: center;
}

.anim2>div{
	width: 200px;
	height: 200px;
	position: absolute;
	background: #445353;
    background: linear-gradient(90deg,#445353 0%, lightgrey 80%, lightgrey 100%);
    border: 3px solid black;
}

footer{
  color: white;
}
}
  
  
  
